.btn::before,
.btn::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 5px;
}
.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 15px 20px;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  background-color: rgb(54, 56, 55);
}

/* 13. hover-border-3 */

.btn::before {
  top: 0;
  right: 0;
  border-top: 1px solid rgb(28, 31, 30);
  border-left: 1px solid rgb(28, 31, 30);
}
.btn::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgb(28, 31, 30);
  border-right: 1px solid rgb(28, 31, 30);
}
.btn:hover::before,
.btn:hover::after {
  width: 100%;
  height: 99%;
  opacity: 1;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}
