* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-color: #64d390 rgb(224, 249, 188);
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h3 {
  margin: 0;
  text-align: left;
  padding: 6px 0;
}

i {
  color: black;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #64d390;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 10px 20px;
  display: inline-block;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #64d390;
  color: #fff;
}
figure {
  margin: 0;
  padding: 0;
}

/* nav  */
header {
  /* bottom shadom  */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 78px;
  left: 0;
  background-color: #fff;
}
nav .horizontal-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

nav .menu-btn {
  display: none;
}

.vertical-menu {
  display: none;
}

nav ul {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  #closeBtn {
    padding: 8px;
    width: 33px;
    border: none;
    height: 33px;
    border-radius: 4px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #openBtn {
    cursor: pointer;
  }
  #closeBtn:hover {
    color: #1f0f0f;
  }
  #closeBtn i {
    font-size: 16px;
    color: inherit;
  }

  nav {
    padding: 0 10px;
  }
  .horizontal-menu .nav-links,
  .horizontal-menu .nav-icons {
    padding: 0;
    margin: 0;
    display: none;
  }

  nav .show {
    display: none;
  }

  .vertical-menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  nav .menu-btn {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 10px 0;
  }
  nav .logo a {
    margin: 0;
    padding: 0;
  }
  .logo span {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 4px;
  }
}

nav ul li a {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 3px;
}
nav ul li a.active {
  color: #fff;
  background-color: #64d390;
}
nav ul li a:hover {
  color: #f2f2f2;
  background-color: #64d390;
}

nav .nav-icons i {
  border: 1px solid rgb(206, 232, 206);
  border-radius: 5px;
  background-color: rgb(239, 239, 241);
  font-size: 14px;
  margin-right: 4px;
  cursor: pointer;
  padding: 7px;
  color: #000;
}

nav .logo a,
i {
  font-size: 25px;
  font-weight: 700;
  color: #64d390;
}

section {
  padding: 60px 10px;
}

/* nav end  */
main {
  margin-top: 78px;
}

/* about section  */
#about {
  display: flex;
  justify-items: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 60px;
  width: 100%;
}
#about div,
figure {
  flex: 1;
}

#about img {
  width: 100%;
  border-radius: 5px;
}

#about p {
  color: #675f5f;
}
#about h2 {
  color: #64d390;
  text-align: center;
  margin: 0;
  padding: 0;
}
#about h3 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0 0 15px 0;
}

@media screen and (max-width: 768px) {
  #about {
    flex-direction: column-reverse;
  }
  #about p,
  h2,
  h3 {
    text-align: center;
  }
  .head-text h1 {
    font-size: 30px;
  }
}

/* main head  */

.head-text {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.head-text div,
figure {
  flex: 1;
}

.head-text img {
  max-width: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.head-text p {
  font-size: 28px;
  font-weight: 600;
  color: #675f5f;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .head-text {
    flex-direction: column-reverse;
  }
  .head-text p,
  h1,
  div {
    text-align: center;
  }
  .head-text p {
    font-size: 16px;
  }
  .head-text h1 {
    font-size: 30px;
  }
}

/* service section  */

.service {
  background-color: #fcfcfc;
}

.service h2,
h4 {
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.service h2 {
  color: #64d390;
}
.service h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px 30px 0px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction: row;
  gap: 40px;
}

.service-item {
  text-align: center;
}
.service-item h3 {
  text-align: center;
}

.service-item p {
  color: #675f5f;
  padding: 0;
  margin: 0;
}

.service-item i {
  color: #64d390;
  font-size: 25px;
}
/* review section  */

.review {
  background-color: #fcfcfc;
}

.review h2,
h4 {
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.review h2 {
  color: #64d390;
}
.review h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px 30px 0px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction: row;
  gap: 40px;
}

.review-item {
  text-align: center;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.review-item .review-head {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 60px;
}

.review-head {
  padding-bottom: 20px;
}

.review-item p {
  padding: 0 0px;
  margin: 0;
  color: #675f5f;
  font-size: 14px;
  line-height: 1.5;
}

.review-man {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.review-card .review-head-left {
  display: flex;
  flex: 1;
  align-items: center;
}
.review-head-left .fa-quote-right {
  font-size: 50px;
}

/* review card animation  */
.review-card::before,
.review-card::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}
.review-card {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  padding-top: 2px;
  background-color: transparent;
  border: none;
}

.review-card::before {
  top: 0;
  right: 0;
  border-top: 2px solid #64d390;
  border-left: 2px solid #64d390;
}
.review-card::after {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #64d390;
  border-right: 2px solid #64d390;
  border-radius: 5px;
}
.review-card:hover::before,
.review-card:hover::after {
  width: 100%;
  height: 99.5%;
  opacity: 1;
  border-radius: 5px;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}
/* end card animation  */

.review-item img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.review-item h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.review-item i {
  color: #64d390;
  font-size: 10px;
}

.service-item h3 {
  text-align: center;
}

.service-item p {
  color: #675f5f;
  padding: 0;
  margin: 0;
}

.service-item i {
  color: #64d390;
  font-size: 25px;
}

/* order section  */

#order {
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#order h2 {
  color: #64d390;
  text-align: center;
}
#order h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px 30px 0px;
}
#order form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  #order form {
    grid-template-columns: 1fr;
  }
  #order form label {
    text-align: left;
    display: block;
  }
}

#order input,
textarea {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #dad5d5;
  background-color: transparent;
}

#order input:focus,
textarea:focus {
  outline: 2px solid #64d390;
}

/* dish section  */
.dish {
  background-color: rgb(239, 239, 241);
}

.dish h2,
h4 {
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.dish h2 {
  color: #64d390;
}
.dish h4 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px 30px 0px;
}
.dish-item h5 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0 0 5px 0;
}

.dish-item p {
  color: #5f5858;
  font-size: 14px;
  padding-bottom: 15px;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dish-item {
  text-align: center;
  transition: 0.3s;
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dish-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.dish-item:hover img {
  scale: 1.05;
  transition: all 0.5s linear;
}

.rating i {
  color: #64d390;
}

.dish-item i {
  font-size: 13px;
}

.dish-item .favorite i {
  display: none;
  background-color: #64d39079;
  padding: 7px;
  border-radius: 100%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .dish-item .favorite i {
    display: block;
  }
}

.dish-item .favorite {
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  top: 20px;
  right: 20px;
  color: #64d390;
  font-size: 20px;
  cursor: pointer;
}

.dish-item:hover i {
  display: inline-block;
  cursor: pointer;
}

.dish-item .favorite:hover i,
.dish-item .favorite i.active {
  color: rgb(243, 9, 9);
  transition: all 0.5s ease;
  background-color: #64d390;
}

.add-to-card span {
  color: #64d390;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  margin: 10px;
}

.add-to-card .btn {
  background-color: #172b55;
  color: #fff;
  padding: 7px 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-to-card .btn:hover {
  background-color: #64d390;
  transition: all 0.3s ease;
}

/* footer  */
footer {
  background-color: #f7f7f7;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid item center  */
  justify-items: center;

  gap: 10px;
  padding: 50px 0;
}

footer h3 {
  color: #64d390;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 8px 0;
}

footer ul li a {
  color: #5f5858;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  line-height: 2;
}
footer ul i {
  font-size: 18px;
}

footer ul li a:hover {
  color: blue;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer p {
  text-align: center;
  font-size: 13px;
  padding: 0 4px 20px 4px;
}

@media screen and (max-width: 768px) {
  footer h3,
  a {
    text-align: center;
  }
  footer ul {
    align-items: center;
  }
  footer .footer-social-links {
    justify-content: center;
  }
}
